<?xml version="1.0"?>
<configuration>

	<!-- it is important for every EPS instance to have unique ID. This can be done by specifying system parameter EPS_INSTANCE_ID -->
	<contextName>EPS-${EPS_INSTANCE_ID}</contextName>
	
	<!-- enable use of JMX for configuring logging levels -->
	<jmxConfigurator />
	
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/ericsson/log/eps/eps-${EPS_INSTANCE_ID}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>eps-${EPS_INSTANCE_ID}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.ericsson" level="WARN"/>
	<logger name="com.hazelcast" level="ERROR"/>
	<root level="warn">
		<appender-ref ref="FILE" />
	</root>
</configuration>